<form (ngSubmit)="onSubmit()" [formGroup]="republicaService.form">
    <div class="container">
        <input type="hidden" formControlName="$key">
        <mat-form-field>
            <mat-select formControlName="republica" placeholder="Republica" [(ngModel)]="receitadespesa.republica"
                name="republica">
                <mat-option *ngFor="let republica of republicas" [value]="republica">
                    {{ republica.nome }}</mat-option>
            </mat-select>
            <mat-error>Este campo é obrigatório.</mat-error>
        </mat-form-field>

        <div>
            <label>Tipo: </label>
            <mat-radio-group formControlName="tipo">
                <mat-radio-button value="Despesa">Despesa</mat-radio-button>
                <mat-radio-button value="Receita">Receita</mat-radio-button>
            </mat-radio-group>
        </div>

        <mat-form-field>
            <input formControlName="descricao" matInput placeholder="Descrição" [(ngModel)]="receitadespesa.descricao"
                name="descricao">
            <mat-error>Este campo é obrigatório.</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input formControlName="endereco" matInput placeholder="Endereco" [(ngModel)]="republica.endereco"
                name="endereco">
            <mat-error>Este campo é obrigatório.</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input formControlName="valor" matInput type="number" placeholder="Valor(R$)"
                [(ngModel)]="receitadespesa.valor" name="valor">
            <mat-error>Este campo é obrigatório.</mat-error>
        </mat-form-field>

        <div>
            <label>Período: </label>
            <mat-radio-group formControlName="tipo">
                <mat-radio-button value="Mensal">Mensal</mat-radio-button>
                <mat-radio-button value="Semestral">Semestral</mat-radio-button>
                <mat-radio-button value="Indefinido">Indefinido</mat-radio-button>
            </mat-radio-group>
        </div>

        <div>
            <label>Divisão: </label>
            <mat-radio-group formControlName="tipo">
                <mat-radio-button value="true">Todos</mat-radio-button>
                <mat-radio-button value="false">Sem divisão</mat-radio-button>
            </mat-radio-group>
        </div>

        <mat-form-field>
            <input formControlName="valorDividido" matInput type="number" placeholder="Valor Dividido(R$)"
                [(ngModel)]="receitadespesa.valorDividido" name="valorDividido">
            <mat-error>Este campo é obrigatório.</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input formControlName="dataLancamento" matInput placeholder="Data de Lançamento"
                [(ngModel)]="republica.dataLancamento" name="integrantes">
            <mat-error>Este campo é obrigatório.</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input formControlName="dataVencimentoRecebimento" matInput placeholder="Data de Vecimento / Recebimento"
                [(ngModel)]="republica.dataVencimentoRecebimento" name="dataVencimentoRecebimento">
            <mat-error>Este campo é obrigatório.</mat-error>
        </mat-form-field>

        <div>
            <label>Efetivado: </label>
            <mat-radio-group formControlName="tipo">
                <mat-radio-button value="true">Sim</mat-radio-button>
                <mat-radio-button value="false">Não</mat-radio-button>
            </mat-radio-group>
        </div>

        <button type="submit" mat-raised-button color="primary"
            [disabled]="republicaService.form.invalid">Cadastrar</button>
    </div>
</form>